<h2>Sign_up Page</h2>
<h3>Create new account</h3>
<form action="/users/register">
 Email    : <input type="email" name="user">
 Password : <input type="password" name="password">
  <input type="submit" value="SUBMIT">

</form>
